{% extends 'base.html' %}
{% load upload_tags i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css">
{% endblock %}

{% block infocolumn %}{% endblock %}

{% block content %}
    <form id="fileupload" class="span8" action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span8">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>{% trans "Add files..." %}</span>
                    <input type="file" name="photo" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>{% trans "Start upload" %}</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>{% trans "Cancel upload" %}</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>{% trans "Delete" %}</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <div class="span5">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active fade">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>

{% upload_js %}

    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{{ STATIC_URL }}js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
    <!-- The File Upload file processing plugin -->
    <script src="{{ STATIC_URL }}js/jquery.fileupload-fp.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
    <!-- The localization script -->
    <script src="{{ STATIC_URL }}js/locale.js"></script>
    <!-- The main application script -->
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
    <!--[if gte IE 8]><script src="{{ STATIC_URL }}js/cors/jquery.xdr-transport.js"></script><![endif]-->
{% endblock %}